div(bgcolor="#f4f4f4", link="398bce", marginwidth="0", marginheight="0", style="background:#f4f4f4;margin:0;padding:0")
    table(cellpadding="0", cellspacing="0", border="0", height="100%", width="100%", bgcolor="#f4f4f4", style="border-spacing:0;background:#f4f4f4")
        tbody
            tr
                td(style="border-collapse:collapse")
                    table(border="0", width="600", cellpadding="0", cellspacing="0", align="center", style="border-spacing:0")
                        tbody
                            tr
                                td(height="30", style="font-size:0;line-height:0;border-collapse:collapse") &#160;
                            tr
                                td(valign="middle", style="text-align:left;border-collapse:collapse;padding:20px 0", align="left")
                                    a(href="http://iotgo.iteadstudio.com", target="_blank")
                                        img.CToWUd(src="#{user.logo }", border="0")
                                    span(style="display:block") Open Source IoT Platform
                                td(valign="middle", style="text-align:right;font-family:Helvetica,Arial,sans-serif;font-size:12px;border-collapse:collapse;padding:20px 0", align="right")
                            tr
                                td(height="10", style="font-size:0;line-height:0;border-collapse:collapse") &#160;
                    span.HOEnZb
                        font(color="#888888")
                    span.HOEnZb
                        font(color="#888888")
                    table(border="0", width="600", cellpadding="0", cellspacing="0", align="center", style="border-spacing:0;background:#ffffff;border:1px solid #e5e5e5", bgcolor="#ffffff")
                        tbody
                            tr
                                td(style="border-collapse:collapse")
                            tr
                                td(style="border-bottom-width:1px;border-bottom-color:#e5e5e5;border-bottom-style:solid;border-collapse:collapse")
                                    span.HOEnZb
                                        font(color="#888888")
                                    table(border="0", width="100%", cellpadding="0", cellspacing="0", align="center", style="border-spacing:0")
                                        tbody
                                            tr
                                                td(style="font-family:sans-serif;font-size:16px;line-height:25px;color:#666666;border-collapse:collapse;padding:30px")
                                                    div(style="margin-bottom:25px")
                                                        h1(style="font-size:20px;color:rgb(40,40,40);font-weight:bold") Confirm Your Email Address
                                                        p Thanks for signing up for IoTgo!
                                                        p  please verify your email address by clicking the link below:
                                                    div
                                                        div(style="margin-bottom:25px")
                                                            a(title="Confirm Email Address", style="font-size:13px;font-weight:100;font-family:Helvetica,Arial,sans-serif;text-transform:uppercase;text-align:center;letter-spacing:1px;text-decoration:none;display:block;width:300px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;color:rgb(255,255,255);background:rgb(57,139,206);margin:0px auto", href!="#{user.href}", target="_blank")
                                                                div(style="min-height:60px;display:block;line-height:62px") CONFIRM EMAIL
                                                    div
                                                        | Note that this link will&#160;expire in 24 hours if it"s not activated.
                                                        br
                                                        br
                                                        | Happy IoTgo,
                                                    div Team ITEAD Studio
                                                    span.HOEnZb
                                                        font(color="#888888")
                                                            span
                                    span.HOEnZb
                                        font(color="#888888")
                    span.HOEnZb
                        font(color="#888888")
                            table(border="0", width="100%", cellpadding="0", cellspacing="0", align="center", style="border-spacing:0")
                                tbody
                                    tr
                                        td(style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;color:#888888;border-collapse:collapse;padding:20px 0px 5px", align="center")
                                            p &#169; ITEAD Studio
                                            p
                                                | Learn more about
                                                font(color="#888888") IoTgo
                                                |   Online:
                                                br
                                                a(href="http://iotgo.iteadstudio.com/", target="_blank") http://iotgo.iteadstudio.com/
                                                br
