body {
  font-family: 'Droid Sans', sans-serif;
}
.navbar-brand,
.navbar-nav {
  text-transform: uppercase;
}
.navbar-brand {
  text-indent: -9999px;
  background: transparent url(images/logo.png) 0 0 no-repeat scroll;
  width: 95px;
}
.iotgo-menu {
  margin-left: 2em;
}
.main {
  min-height: 480px;
  margin-bottom: 40px;
}
.main h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
.main h2 {
  font-size: 20px;
}
.main h3 {
  font-size: 18px;
}
.main h4 {
  font-size: 16px;
}
/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
.login h1, .login input.form-control,
.signup h1, .signup input.form-control {
  text-align: center;
}
.devices .panel-title.pull-left {
  padding: 6px 0;
}
.device-group {
  margin: 0 15px 15px 0;
  float: left;
  width: 256px;
}
.device-group > .panel-body {
  min-height: 228px;
}
.device {
  width: 64px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0 10px 10px 0;
}
.device > img {
  width: 64px;
  display: block;
}
.device > span {
  display: block;
  margin-top: 5px;
}
.device-params {
  font-size: 3em;
}
.device-params pre {
  text-align: left;
}
.about {
  background-color: gainsboro;
}
.about li {
  line-height: 1.8em;
}
.copyright {
  color: #FFF;
  background-color: #444;
  padding: 1em;
}
.copyright .logo-grey {
  text-indent: -9999px;
  background: transparent url(images/logo-grey.png) left center no-repeat scroll;
  padding: 1em 0;
  margin: -1em 0;
}
.copyright a {
  color: #FFF;
}
/* Home page */
.iotgo-slideshow {
  position: relative;
}
.iotgo-slideshow-indicators {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
div.rn-carousel-indicator span {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  text-indent: -999em;
  background-color: #dddddd;
}
div.rn-carousel-indicator span.active {
  background-color: red;
}
.iotgo-features {
  margin: 0;
  background-color: gainsboro;
  border-bottom: 2px solid #444;
}
.iotgo-features h4 {
  font-size: 16px;
  font-weight: bold;
}
.iotgo-platforms {
  margin: 0;
  padding: 10px 0;
  border-bottom: 2px solid #DDD;
}
.iotgo-platforms .text-muted {
  font-size: 20px;
  font-weight: bold;
}
.iotgo-platforms .list-inline {
  text-align: right;
}
.iotgo-platforms .list-inline>li {
  padding-right: 15px;
  padding-left: 15px;
}
.iotgo-process h4 {
  margin-top: 25px;
  margin-left: 20px;
}
.iotgo-diy {
  color: #0066ff;
}
.iotgo-ready {
  color: #009900;
}

/* Hardware Reference */
.hardware .text-center .img-responsive {
  margin: auto;
}
.hardware .row-border {
  margin: 20px auto;
  border: 2px solid #DDD;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
}

/* Guide */
.guide .sidebar-nav {
  border: 1px solid #DDD;
  border-radius: 5px;
}
.guide .nav .nav {
  margin-left: 1em;
}

/* Hardware Reference */
.solution .text-center .img-responsive {
  margin: auto;
}

@media (max-width: 767px) {
  .iotgo-menu {
    margin: 7.5px -15px;
  }
  .copyright .container > div {
    margin: 1em 0;
    padding: 0;
  }
  .copyright .container .text-center,
  .copyright .container .text-right {
    text-align: left!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .iotgo-menu {
    margin-left: 0;
  }
  .navbar-default .navbar-collapse {
    position: relative;
    padding: 0;
    margin-left: -15px;
  }
  .navbar-default .navbar-right {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .iotgo-slideshow ul,
  .iotgo-slideshow ul img {
    width: 720px;
    height: 239px;
  }
}

@media (max-width: 767px) {
  .iotgo-slideshow ul,
  .iotgo-slideshow ul img {
    width: 720px;
    height: 239px;
  }
}

@media (min-width: 992px) {
  .iotgo-slideshow ul,
  .iotgo-slideshow ul img {
    width: 940px;
    height: 312px;
  }
}

@media (min-width: 1200px) {
  .iotgo-slideshow ul,
  .iotgo-slideshow ul img {
    width: 1140px;
    height: 378px;
  }
}