<div class="about-us">
  <h1>What’s IoTgo?</h1>

  <p>IoTgo is an open source IoT platform, like WordPress, ZenCart and all
    other open source software, you can deploy your own IoTgo cloud service.</p>

  <p>We at ITEAD Studio are committed to provide a complete set of hardware
    for IoTgo with open source hardware designs and open source firmware.</p>

  <p>The overall IoTgo system architecture including IoTgo, IoTgo-compatible
    apps and IoTgo-compatible devices is illustrated by following graph.</p>

  <p><img class="img-responsive img-thumbnail"
          src="../images/iotgo-arch.png"></p>

  <div class="alert alert-info">The whole IoT system is open sourced,
    including hardware designs and firmwares, not just IoTgo and Web App.</div>

  <div class="row">
    <div class="col-sm-4">
      <h2>Device &amp; Gateway</h2>

      <p>Several popular open source hardware platform designs including schematics
        , firmware code and SDK will be unveiled for your reference.</p>

      <p>For more information, please refer to
        <a href="/hardware">Hardware Reference</a>.</p>
    </div>

    <div class="col-sm-4">
      <h2>IoTgo &amp; Web app</h2>

      <p>To download IoTgo source code, please refer to
        <a href="https://github.com/itead/IoTgo">IoTgo Github repo</a>.</p>

      <p>To see what it looks like after deployment,
        <a href="/">iotgo.iteadstudio.com</a> itself is indeed a living example.</p>
    </div>

    <div class="col-sm-4">
      <h2>Mobile App &amp; Desktop App</h2>

      <p>Currently we are focusing on IoTgo and IoTgo Web App, but we do
        develop Mobile App and Desktop App from time to time. When they are ready, we
        will open source them on Github, so please bear with us.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2>IoTgo Arduino Library</h2>

      <p>IoTgo Arduino Library is an embedded microcontroller SDK with reference
        firmware for Arduino boards. Users can define a device object directly by
        using this library and related methods to connect Arduino boards to IoTgo,
        which hugely simplify development process and save your time. What’s more,
        starters can write the hardware functional code on their own easily.</p>

      <p>For more information, please refer to
        <a href="https://github.com/itead/ITEADLIB_Arduino_IoTgo">
          IoTgo Arduino Library Github repo</a></p>
    </div>

    <div class="col-sm-4">
      <h2>Segnix &amp; IoTgo Segnix Library</h2>

      <p>Segnix is an open-source interface library for hardware manipulation
        based on Linux platform and compatible with
        <a href="http://arduino.cc/en/Reference/HomePage" target="_blank">Arduino API</a>
        You can develop on it by using C/C++ and Python. Segnix is dedicated to
        provide a fast, efficient and unified software development environment
        for the person like you with a strong electronic design idea.
      </p>

      <p>The latest Segnix contains IoTgo Segnix Library, and you can invoke
        various interfaces to manipulate devices. This is suitable for the rapid
        development of Raspberry Pi, Banana Pi and other single board computers.</p>

      <p>For more information, please refer to
        <a href="https://github.com/itead/Segnix">ITEAD Segnix Github repo</a>.</p>
    </div>

    <div class="col-sm-4">
      <h2>About iotgo.iteadstudio.com</h2>

      <p>Visit <a href="//iotgo.iteadstudio.com">iotgo.iteadstudio.com</a>, you
        can see what a living IoT platform looks
        like. This platform can be an example for experience and reference.
        Besides, it is our real operating IoT server as well, if you don’t want
        to spare the efforts and time to build your own cloud server, you can
        register on this site and make your devices connect to this platform.</p>
    </div>
  </div>

  <h1>Why IoTgo</h1>

  <p>Intelligent hardware project is comprehensive. To accomplish a project
    like that, it requires not only the proficient skills of hardware design
    and embedded devices coding, but also the reliable supports from cloud
    servers and web UI. No one could be good at all these areas in the same
    time. Before we launch IoTgo, it’s hard to find a complete IoT open
    source resource including hardware, firmware, server and web UI. Now,
    we provide this complete IoT open source solution for you.</p>

  <div class="row">
    <div class="col-sm-3">
      <h3>Complete Open Source Solution</h3>
      <p>Complete open source for hardware, software and website with
        detailed tutorials.</p>
    </div>

    <div class="col-sm-3">
      <h3>Support Device Accessing</h3>
      <p>IoTgo supports the indie devices accessing and managing as well as
        the DIY devices, which means users who can buy and use the indie
        devices directly after registering.</p>
    </div>

    <div class="col-sm-3">
      <h3>Update Continuously</h3>
      <p>According to user feedback, we will consistently update this
        platform to make it stronger, more reliable and convenient.</p>
    </div>

    <div class="col-sm-3">
      <h3>Customizable and Technical Support</h3>
      <p>If you are unfamiliar with certain part in the process of hardware,
        software or server, and need our technical support or
        customized development, we are pleased to help you with your project.</p>
    </div>
  </div>

  <h1>No hesitation, come and fork us!</h1>

  <div class="row">
    <div class="col-sm-3">
      <h3>Hardware Designers</h3>

      <P>If you are proficient in hardware design, you can layout your own
        hardware with small size, low power and far more wireless transferring
        distance by referring to our hardware design. For your unfamiliar parts
        such as embedded controller codes, cloud server, and website design,
        you can use IoTgo directly.</P>
    </div>

    <div class="col-sm-3">
      <h3>Software Developers</h3>

      <p>If you are skillful in embedded software development, you can write a
        firmware with high efficiency and stable performance by referring to our
        codes and libraries. For hardware part, you can just use our open
        sourced hardware designs. For cloud part, IoTgo is always here for you.</p>
    </div>

    <div class="col-sm-3">
      <h3>Website Designers</h3>

      <p>If you are experienced in server and website development, and despise
        our poor UI design, it’s OK! You can build the smart devices supported
        website with reasonable, simple and elegant design to meet your demand,
        and the hardware embedded coding is no problem. Without any modification,
        you can directly use the complete IoTgo hardware designs and firmware
        codes we provide.</p>
    </div>

    <div class="col-sm-3">
      <h3>Development Team</h3>

      <p>If you have a team that is capable of doing all processes we mention
        above, we also hope that you can visit our IoT website and have it for
        reference. At least you don’t have to develop your project from nothing.
        Any suggestion is welcome.</p>
    </div>
  </div>
</div>