<div class="contact">
  <div class="row">
    <div class="col-sm-8">
      <img class="img-responsive" src="../images/contact/itead-address.png">
    </div>
    <div class="col-sm-4">
      <address>
        <p>ITEAD Intelligent Systems Co. Ltd</p>
        <p>4F, Bilding 4th, Wangtang Industrial Zone</p>
        <p>Xili Town, Nanshan Dist.</p>
        <p>Shenzhen, GD 518000</p>
        <p>People's Republic of China</p>
        <p>Phone: +86 755 27955416</p>
        <p>FAX: +86 755 29610458</p>
        <p>Email:
          <a href="mailto:info@iteadstudio.com">info@iteadstudio.com</a></p>
      </address>
    </div>
  </div>
</div>