<div class="hardware">
  <div class="text-center h1">
    <img class="img-responsive" src="../images/hardware/hardware.gif">
  </div>

  <div class="text-center h2">
    <img class="img-responsive" src="../images/hardware/arduino.gif">
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="text-center">
        <a href="http://imall.iteadstudio.com/im141125005.html">
          <img class="img-responsive" src="../images/hardware/wboard_pro.jpg">
        </a>
        <h3>Wboard Pro</h3>
      </div>
      <p>Wboard Pro is a Wifi development board based on Arduino MEGA. With
        a built-in ESP8266 chip (wifi firmware burnt), you can drive ESP8266
        to connect wifi by controlling the serial ports and visit the
        internet. WBoard Pro supports IoTgo Arduino Library to do a rapid
        development.</p>
      <p class="pull-right">
        <a class="btn btn-default btn-xs"
           href="http://wiki.iteadstudio.com/Wboard_Pro">Hardware</a>
        <a class="btn btn-default btn-xs"
           href="https://github.com/itead/ITEADLIB_Arduino_IoTgo">Library Support</a>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="text-center">
        <a href="http://imall.iteadstudio.com/catalogsearch/result/?q=iboard ">
          <img class="img-responsive" src="../images/hardware/iboard.jpg">
        </a>
        <h3>IBoard / IBoard Pro</h3>
      </div>
      <p>IBoard and IBoard Pro are two Ethernet development boards based on
        Arduino and Arduino MEGA. With a W5100 ethernet chip, they support
        twisted-pair cable to connect router and visit the internet. You can
        make a simple development to communicate with IoT by utilizing
        Arduino Ethernet library. Among them, IBoard Pro supports IoTgo
        Arduino Library to do a rapid development.</p>
      <p class="pull-right">
        <a class="btn btn-default btn-xs"
           href="http://wiki.iteadstudio.com/IBoard">Hardware</a>
        <a class="btn btn-default btn-xs"
           href="https://github.com/itead/ITEADLIB_Arduino_IoTgo">Library Support</a>
      </p>
    </div>

    <div class="col-sm-4">
      <div class="text-center">
        <a href="http://imall.iteadstudio.com/catalogsearch/result/?q=gboard">
          <img class="img-responsive" src="../images/hardware/gboard.jpg">
        </a>
        <h3>Gboard / Gboard Pro</h3>
      </div>
      <p>Gboard and Gboard Pro are two GSM/GPRS development boards based on
        Arduino and Arduino MEGA. With an on-board SIM900 module, you can
        plug an SIM card and connect to IoTgo server through GPRS network.
        You also can make a simple development to communicate with IoTgo by
        utilizing Arduino GSM library. Among them, GBoard Pro supports IoTgo
        Arduino Library to do a rapid development.</p>
      <p class="pull-right">
        <a class="btn btn-default btn-xs"
           href="http://wiki.iteadstudio.com/Gboard">Hardware</a>
        <a class="btn btn-default btn-xs"
           href="https://github.com/itead/ITEADLIB_Arduino_IoTgo">Library Support</a>
      </p>
    </div>
  </div>

  <div class="text-center h2">
    <img class="img-responsive" src="../images/hardware/computer.gif">
  </div>

  <div class="row row-border">
    <div class="col-sm-2">
      <a href="http://imall.iteadstudio.com/itead-core-aw204x">
        <img class="img-responsive" src="../images/hardware/cuibeboard.jpg">
      </a>
      <h3>Cuibeboard</h3>
    </div>

    <div class="col-sm-2">
      <a href="http://imall.iteadstudio.com/itead-core-aw204x">
        <img class="img-responsive" src="../images/hardware/banana_pi.jpg">
      </a>
      <h3>Banana Pi</h3>
    </div>

    <div class="col-sm-2">
      <a href="http://imall.iteadstudio.com/itead-core-aw204x">
        <img class="img-responsive" src="../images/hardware/core_evb.jpg">
      </a>
      <h3>Core EVB</h3>
    </div>

    <div class="col-sm-6">
      <h3>AllWinner A20 Series</h3>
      <p>The boards on the left using Allwinner A20 chip support IoTgo Segnix
        Library to develop smart device or smart gateway. Among them,
        Core EVB is 100% compatible with Segnix I/O configurable files,
        while other boards need to modify the configure files and these
        modifications won't have an effect on the communication codes of
        Ethernet and IoTgo.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="text-center">
        <a href="http://imall.iteadstudio.com/im140813001.html">
          <img class="img-responsive" src="../images/hardware/rep.jpg">
        </a>
        <h3>Raspberry Pi</h3>
      </div>
      <p>Raspberry Pi is a very popular credit card size computer. You can
        use it as an IoTgo smart device or smart gateway. The Segnix we provide
        supports Raspberry Pi. You also can use our IoTgo Segnix Library in
        Raspberry Pi to do a rapid development.</p>
    </div>

    <div class="col-sm-4">
      <div class="text-center">
        <img class="img-responsive" src="../images/hardware/bboard.jpg">
        <h3>BB Board</h3>
      </div>
      <p>BB Board is a credit card size computer with TI XXX chip. You can
        use it as an IoTgo smart device or smart gateway. The Segnix development
        for BB Board is under way, and soon we will finish IoTgo Segnix Library
        that supports BB Board to do a rapid development.</p>
    </div>

    <div class="col-sm-4">
      <div class="text-center">
        <a href="http://imall.iteadstudio.com/im141027002.html">
          <img class="img-responsive" src="../images/hardware/wrtnode.jpg">
        </a>
        <h3>WRTNode</h3>
      </div>
      <p>WRTNode is a popular OpenWrt development board. You can use it as
        an IoTgo smart device or smart gateway. The Segnix development for
        WRTNode is under way. If you are interested in helping us to make a
        progress in this part, please contact us.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="text-center">
        <img class="img-responsive" src="../images/hardware/galileo.jpg">
        <h3>Intel Galileo</h3>
      </div>
      <p>Intel Galileo is an X86 single board computer compatible with Arduino.
        You can use it as an IoTgo smart device or smart gateway. If you develop
        Galileo like the way you develop arduino, our IoTgo Arduino Library
        is suitable for your development. The Segnix version for Galileo is
        not in our plan, but we welcome the developers who are interested in
        this project to improve the code.</p>
    </div>

    <div class="col-sm-4">
      <div class="text-center">
        <img class="img-responsive" src="../images/hardware/more.jpg">
        <h3>More Hardware</h3>
      </div>
      <p>If your favorite hardware is not listed here and you would like
        it to work with IoTgo, please contact us and we will sure sort it
        out.</p>
    </div>

    <div class="col-sm-4">
      <p style="margin-top: 2.5em">
        <a class="btn btn-default btn-lg"
           href="https://github.com/itead/Segnix">API support</a>
      </p>
    </div>
  </div>

  <div class="row">
    <a href="/solution" style="display: block; text-align: center;">
      <img src="../images/hardware/solution.jpg">
    </a>
  </div>
</div>