<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        My Account
      </div>
      <div class="list-group">
        <a href="/profile" class="list-group-item active">My Profile</a>
        <a href="/devices" class="list-group-item">My Devices</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">My Profile</div>
      </div>
      <div class="panel-body">
        <form ng-submit="setPassword()" class="form-horizontal">
          <div class="form-group form-group-lg">
            <label for="email" class="col-sm-3 control-label">
              Email
            </label>
            <div class="col-sm-9">
              <input id="email" type="text" value="{{getEmail()}}"
                     class="form-control" disabled>
            </div>
          </div>
          <div class="form-group form-group-lg">
            <label for="apikey" class="col-sm-3 control-label">
              API Key
            </label>
            <div class="col-sm-9">
              <input id="apikey" type="text" value="{{getApikey()}}"
                     class="form-control" disabled>
            </div>
          </div>
          <div class="form-group form-group-lg">
            <label for="oldPassword" class="col-sm-3 control-label">
              Old Password
            </label>
            <div class="col-sm-9">
              <input ng-model="oldPassword" id="oldPassword" type="password"
                     class="form-control" required placeholder="Old Password">
            </div>
          </div>
          <div class="form-group form-group-lg">
            <label for="newPassword" class="col-sm-3 control-label">
              New Password
            </label>
            <div class="col-sm-9">
              <input ng-model="newPassword" id="newPassword" type="password"
                     class="form-control" required placeholder="New Password">
            </div>
          </div>
          <div class="form-group form-group-lg">
            <div class="col-sm-offset-3 col-sm-9">
              <input class="btn btn-primary btn-lg" type="submit" ng-disabled="isDisabled"
                     value="Change Password">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>