<div class="solution">
  <div class="text-center h1">
    <img class="img-responsive" src="../images/solution/title.jpg">
  </div>
  <p>Based on IoTgo cloud platform, we develop a suit of smart WiFi power socket.
    Supported by IoTgo cloud platform and App on the phone, smart socket can achieve
    the remote control function like other similar smart products on the market.</p>

  <p>
    <img class="img-responsive" src="../images/solution/banner.jpg">
  </p>

  <p>Now, there are several smart products on the market that use our IoT solution.
    We can proud to say that IoTgo is a suitable solution for such smart socket
    in small size and low price.</p>

  <p>
    <img class="img-responsive" src="../images/solution/banner-socket.jpg">
  </p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <td>53mm*53mm*27mm</td>
        <td>Φ55mm*25mm</td>
      </tr>
      <tr>
        <td>110V-250V</td>
        <td>110V-250V</td>
      </tr>
      <tr>
        <td>74g</td>
        <td>57g</td>
      </tr>
      <tr>
        <td>16A</td>
        <td>10A</td>
      </tr>
      <tr>
        <td>White/Black</td>
        <td>White</td>
      </tr>
      <tr>
        <td>&lt;$6.50</td>
        <td>&lt;$7.00</td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <h3>Product Features:</h3>
          <ul class="list-inline">
            <li>Low hardware cost – the lowest cost is $6.5</li>
            <li>Open source cloud platform – maintain and update IoTgo easily</li>
            <li>Free App – open source and customizable</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <img class="img-responsive" src="../images/solution/banner-feature.jpg">
  </div>

  <div class="text-center" style="margin: 2em 0;">
    <p><img src="../images/solution/customizable.jpg"></p>
    <p>If customers want to use this IoT solution to design and manufacture
      your own products, we provide the following services:</p>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p class="text-center">
        <img src="../images/solution/custom-pcb.jpg">
      </p>
      <p>according to the appearance and mould design of your prodeut, we will customize the main control module, so the module can be assembled to your product.</p>
      <img class="img-responsive" src="../images/solution/smart hardware_r20_c2.jpg">
    </div>

    <div class="col-sm-6">
      <p class="text-center">
        <img src="../images/solution/shell-purchase.jpg">
      </p>
      <p>Help you look for reliable mould factory to manufacture the customize enclosures or purchase the off-the-shelf enclosures on the market. </p>
      <img class="img-responsive" src="../images/solution/smart hardware_r19_c11.jpg">
    </div>
  </div>
  <div class="row" style="margin-top: 3em">
    <div class="col-sm-6">
      <p class="text-center">
        <img src="../images/solution/building-server.jpg">
      </p>
      <p>we provide free service for building and debugging cloud service.</p>
      <img class="img-responsive" src="../images/solution/smart hardware_r25_c2.jpg">
    </div>

    <div class="col-sm-6">
      <p class="text-center">
        <img src="../images/solution/app-design.jpg">
      </p>
      <p>according to your product's requirments, we will customize an App to control your product.</p>
      <img class="img-responsive" src="../images/solution/smart hardware_r25_c11.jpg">
    </div>
  </div>

  <div class="row">
    <p class="text-center">
      <a href="/contact">
        <img src="../images/solution/contact-us.jpg">
      </a>
    </p>
  </div>
</div>