<div class="panel panel-default factory-devices">
  <div class="panel-heading">
    <form class="form-inline">
      <div class="form-group">
        <input ng-model="batch.name" class="form-control batch-create"
               type="text" placeholder="Batch Name">
        <input ng-model="batch.type" class="form-control batch-create"
               type="text" placeholder="Device Type">
        <input ng-model="batch.qty" class="form-control batch-create"
               type="number" placeholder="Quantity">
        <button ng-click="batchCreate()" type="button"
                class="btn btn-primary">Batch Create</button>
      </div>
      <div class="btn-group pull-right">
        <button ng-click="resetSearch()" type="button"
                class="btn btn-warning">Reset</button>
        <button ng-click="advancedSearch()" type="button"
                class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="created-at">
          <div>Created At</div>
          <input ng-model="search.createdAtFrom"
                 class="form-control input-sm" type="date">
          <input ng-model="search.createdAtTo"
                 class="form-control input-sm" type="date">
        </th>
        <th class="batch-name">
          <div>Batch Name</div>
          <input ng-model="search.name" class="form-control input-sm" type="text">
        </th>
        <th class="device-type">
          <div>Device Type</div>
          <input ng-model="search.type" class="form-control input-sm" type="text">
        </th>
        <th class="device-id">
          <div>Device ID</div>
          <input ng-model="search.deviceid"
                 class="form-control input-sm" type="text">
        </th>
        <th class="api-key">
          <div>API Key</div>
          <input ng-model="search.apikey"
                 class="form-control input-sm" type="text">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="device in devices">
        <td>{{device.createdAt | date:'yyyy-MM-dd'}}</td>
        <td>{{device.name}}</td>
        <td>{{device.type}}</td>
        <td>{{device.deviceid}}</td>
        <td>{{device.apikey}}</td>
      </tr>
    </tbody>
  </table>
</div>